<div class="row form">
  <div class="col-lg-12">
    <%= form_for @exam do |f| %>
      <h2 class="text-center">投稿フォーム（過去問）</h2>

      <div class="form-group">
        <div class="col-lg-6">
          <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-6">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h4 class="text-center">試験実施日</h4>
          </div>
          <%= f.date_select :taken_date, {use_month_numbers: true}, {class: "form-control bootstrap-date"} %>
        </div>
      </div>

      <div id="exam_item_fields">
        <%= f.fields_for :exam_items do |i| %>
          <%= render 'exam_item_fields', f: i %>
        <% end %>
      </div>

      <%= link_to_add_association "ファイルを追加", f, :exam_items, class:"btn btn-primary", data:{association_insertion_node: "#exam_item_fields", association_insertion_method: "append"}, partial: "exam_item_fields" %>

      <div class="form-group">
        <div class="col-lg-6">
          <%= f.text_field :explanation, placeholder: "コメントや補足説明などがあれば、記入してください", class: "form-control" %>
        </div>
      </div>

      <%= fields_for @subject do |s| %>

        <div class="form-group">
          <div class="col-lg-6">
            <%= s.text_field :name, placeholder: "科目名", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6">
            <%= s.text_field :professor, placeholder: "担当教授名", class: "form-control" %>
          </div>
        </div>

      <% end %>

      <div class="checkbox text-center">
        <label>
          <input type="checkbox" name="checkbox_return" value = "1", id="checkbox" onclick="checkdiv(this,'Affiliation_form')" />自分の所属する学科の科目でない場合はチェックを入れてください
        </label>
      </div>

      <div id="Affiliation_form" style="display:none;">
      <%= fields_for @affiliation do |a| %>

        <div class="form-group">
          <div class="col-lg-6">
            <%= a.text_field :college, placeholder: "大学名", class: "form-control", value: current_user.affiliation.college %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6">
            <%= a.text_field :department, placeholder: "学部名", class: "form-control", value: current_user.affiliation.department %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6">
            <%= a.text_field :course, placeholder: "学科名（ない場合は空欄のままで構いません）", class: "form-control", value: current_user.affiliation.course %>
          </div>
        </div>

      <% end %>
    </div>

      <div class="form-group text-center">
        <%= f.submit "送信", class: "btn btn-primary withripple" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

function checkdiv( obj,id ) {
if( obj.checked ){
document.getElementById(id).style.display = "block";
}
else {
document.getElementById(id).style.display = "none";
}
}

</script>
