<div class="container">
  <div class="row">
    <h2 class="text-center"><%= @exam.title %></h2>

    <ul class="list-inline text-center">
      <li>投稿者名：<%= @exam.user.nickname %></li>
      <li>投稿日時：<%= @exam.created_at%></li>
      <li>分類：過去問</li>
      <li>科目名：<%= @exam.subject.name %></li>
      <li>試験実施日：<%= @exam.taken_date %>
      <li>担当教授名：<%= @exam.subject.professor %></li>
    </ul>

    <div>
      <%= link_to 'お気に入りに追加', add_exam_path(exam), method: :post %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <% @exam_items.each do |exam_item| %>
        <%= image_tag exam_item.exam_file_url(:thumb), {class: "img-responsive center-block"} %>
        <%= link_to 'ダウンロード', download_exam_exam_item_path(@exam, exam_item), method: :get, class:"btn btn-default btn-xs" %>
      <% end %>

      <p class="well custom-space"><%= @exam.explanation %></p>
    </div>

    <%= render partial: '/common/comment', locals: {record_element: @exam, parent_comment: @exam_comment, child_comment: @exam_comment, parent_comments: @exam_parent_comments, child_comments: @exam_child_comments } %>

  </div>
</div>