<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <% parent_comments.each do |parent_comment| %>

    <div class="form-group">
      <%= parent_comment.user.nickname %>
      <%= parent_comment.text %>

      <% if parent_comment.comment.like_user(current_user.id) %>
        <%= link_to 'いいねを解除', comment_comment_like_path(parent_comment, parent_comment.comment), method: :delete %>
        <%= parent_comment.comment.comment_likes_count %>
      <% else %>
        <%= link_to 'いいね', comment_comment_likes_path(parent_comment, parent_comment.comment), method: :post %>
        <%= parent_comment.comment.comment_likes_count %>
      <% end %>

      <a class="btn-xs btn-primary" data-toggle="collapse" href="#comment<%= parent_comment.id %> ">
        返信
      </a>
      <a class="btn-xs btn-primary" data-toggle="collapse" href="#show-comment<%= parent_comment.id %>">
        このコメントへの返信をすべて表示
      </a>
    </div>

    <div class="form-group collapse" id="show-comment<%= parent_comment.id %>">
      <% hold_comments = child_comments.where(parent_id: parent_comment.id) %>
      <% hold_comments.each do |hold_comment|%>

        <%= hold_comment.user.nickname %>
        <%= hold_comment.text %>

      <% if hold_comment.comment.like_user(current_user.id) %>
        <%= link_to 'いいねを解除', comment_comment_like_path(hold_comment, hold_comment.comment), method: :delete %>
        <%= hold_comment.comment.comment_likes_count %>
      <% else %>
        <%= link_to 'いいね', comment_comment_likes_path(hold_comment, hold_comment.comment), method: :post %>
        <%= hold_comment.comment.comment_likes_count %>
      <% end %>

      <% end %>
    </div>

    <div class="collapse" id="comment<%= parent_comment.id %>">
      <%= form_for([ record_element, child_comment ]) do |f| %>

        <div class="form-group">
          <div class="col-lg-6">
            <%= f.text_field :text, placeholder: "コメントする", class: "form-control" %>
          </div>
        </div>

        <div>
          <%= f.hidden_field :record_element_id, value: record_element.id %>
          <%= f.hidden_field :status, value: 1 %>
          <%= f.hidden_field :parent_id, value: parent_comment.id %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "送信", class: "btn btn-primary withripple" %>
        </div>

      <% end %>
    </div>

  <% end %>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= form_for([ record_element, parent_comment ]) do |f| %>

    <div class="form-group">
      <div class="col-lg-6">
        <%= f.text_field :text, placeholder: "コメントする", class: "form-control" %>
      </div>
    </div>

    <div>
      <%= f.hidden_field :record_element_id, value: record_element.id %>
      <%= f.hidden_field :status, value: 0 %>
      <%= f.hidden_field :parent_id, value: 0 %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "送信", class: "btn btn-primary withripple" %>
    </div>

  <% end %>
</div>